body {
	background-color: rgb(255, 255, 255);
}
.container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.imgage {
	width: 370px;
	margin-top: 50px;
}
@media (max-width: 770px) {
	.container {
		margin: 0 10%;
	}
	.imgage {
		width: 100%;
	}
}
